.fw-700{
    font-weight: 700;
}
.gray{
    color:#545353;
}
.blue{
    color:#1EB0F6;
}
.fw-600{
    font-weight: 600;
}
.fw-500{
    font-weight: 500;
}
.center{
    text-align: center;
}
.left{
    text-align:left;
}
/* Landing Page */
.heading{
    font-size: 48px;
}

.card-shadow {
    outline: 1px solid #eee;
    box-shadow:0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.card-shadow:hover{
    box-shadow:0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 400px){
    .heading{
        margin-top:40px;
    }
  }
  